<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AccountingPC.Properties.SecuritySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AccountingPC.AccountingPCWindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AccountingPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings>
   <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Accounting;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <AccountingPC.Properties.SecuritySettings>
            <setting name="LOGIN_HASH" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD_HASH" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGIN" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
        </AccountingPC.Properties.SecuritySettings>
        <AccountingPC.AccountingPCWindowSettings>
            <setting name="WindowState" serializeAs="String">
                <value/>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastHeignt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastWidth" serializeAs="String">
                <value>0</value>
            </setting>
        </AccountingPC.AccountingPCWindowSettings>
        <AccountingPC.Properties.Settings>
            <setting name="SHUTDOWN_ON_EXPLICIT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USE_AUTH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="THEME" serializeAs="String">
                <value>0</value>
            </setting>
        </AccountingPC.Properties.Settings>
    </userSettings>
</configuration>
